################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GullySnacks.Web/obj
/GullySnacks.Web/appsettings.json
